*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: hsl(180, 29%, 50%);
    --color-bg: hsl(180, 52%, 96%);
    --color-primary-dark: hsl(180, 14%, 20%);
    --color-bg-dark: hsl(180, 8%, 52%);
}

body{
    background-color: var(--color-bg);
    font-family: 'Spartan', sans-serif;
    font-size: .9375rem;
    color: var(--color-primary-dark);

}

.company-icon{
    max-width: 100%;
    width: 60px;
    position: absolute;
    top: -25px;
}

.container{
    max-width: 320px;
    width: 90%;
    margin: 5em auto 3em;
}

.d-flex{
    display: flex;
    flex-direction: column;
}



.card,
.filter-container{
    margin: 3em 0;
    background-color: #fff;
    padding: 3em 1em 1em;
    position: relative;
    border-radius: 5px;
    box-shadow: .325em .325em 1em rgba(0,0,0, .3),
                .125em  .125em .5em rgba(0,0,0, .1);
}

.filter-container{
    display: none;
    padding: 1em;

}

.job-info-wrapper{
    display: flex;
    column-gap: 1em;
    opacity: .7;
    border-bottom: 2px solid rgba(0,0,0, .3);
    margin: 1em 0;
    padding-bottom: 1em;
}

.filter-tags,
.active,
.filtered-tags-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 1em;
}

@media (min-width: 1200px){
    .filter-tags{
        flex-wrap: nowrap;
        align-items: center;
    }

    .job-info-wrapper{
        border-bottom: none;
        padding: 0;
        margin-bottom: 0;
    }

    .main-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container,
    .card-container,
    .filter-container{
        max-width: 1400px;
    }

    .filter-container{
        margin: 1em 0;
    }

    .filtered-tags-container{
        margin: 0;
    }

    .main-content{
        display: flex;
        column-gap: 1em;

    }

    .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em 3em;
    }

    .company-icon{
        position: unset;
        width: auto;
        height: auto;
    }
}

.active{
    justify-content: space-between;
    flex-wrap: nowrap;
}

.company-wraper{
    display: flex;
    gap: .5em;
    align-items: center;
    margin-bottom: 1em;

}

/* typography */
.company-name {
    font-size: 1em;
    color: var(--color-primary);
    
}

.job-title{
    font-size: 1.2em;
}

.job-title:hover,
.job-title:focus{
    cursor: pointer;
    color: var(--color-primary);
}

.filter-tag{
    font-weight: 700;
}

.flags-wrapper{
    display: flex;
    gap: .5em;

}

.flag{
    text-transform: uppercase;
    font-size: .725rem;
    font-weight: 500;
    padding: .5em; 
    border-radius: 12px;

   
}

.flag--dark{
    background-color: var(--color-primary-dark);
    color: #fff;
}

.flag--light{
    background-color: var(--color-primary);
    color: #fff;
    margin-left: .5em;
}

/* btns */

.filter-tag,
.clear-btn{
    border: none;
    border-radius: 5px;
    background-color: var(--color-bg);
    padding: .5em 1.5em;
    color: var(--color-primary);
    
}

.clear-btn:hover,
.clear-btn:focus{
    cursor: pointer;
    text-decoration: underline;
}

.clear-btn{
    align-self: center;
}

.filter-tag-wrapper{
    display: flex;
}

.filter-tag:hover,
.filter-tag:focus{
    background-color: var(--color-primary);
    color: #fff;
    cursor: pointer;
}

.clr-tag-btn{
    cursor: pointer;
    border: none;
    display: inline;
    width: 30px;
    color: #fff;
    background-color: var(--color-primary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.clr-tag-btn:hover,
.clr-tag-btn:focus{
    background-color: var(--color-primary-dark);
}

.clicked{
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
}

/* details */

.featured{
    border-left: 5px solid var(--color-primary);
}

.time-since-posted::after,
.employment-length::after{
    content: "•";
    position: relative;
    right: -7px;
    font-size: 1rem;
    opacity: .6;

}


